* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-title {
  color: #6e6060;
  font-weight: 600;
}

.card-text {
  font-size: 15px;
}

.hidden-text {
  display: none;
}

.hidden-text.visible {
  display: inline;
}

.toggleButton {
  text-decoration: none;
}

.toggleButton::before {
  content: "... ";
}

.hidden-text.visible+.toggleButton::before {
  content: "";
}

.hidden-text.visible+.toggleButton::after {
  content: " Read less";
}

.toggleButton::after {
  content: " Read more";
  text-decoration: underline;
}